<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-5">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
	<div class="row">
    <aside class="col-md-4">
      <section class="micropost_form">
        <p><b><%= link_to "Login", login_path %> or <%= link_to "Sign Up", signup_path %> to start posting and following</b></p>
        <textarea placeholder="Compose new micropost..." disabled="true"></textarea>
        <button class="btn btn-primary" disabled="true" style="width: 100%">Post</button>
      </section>
    </aside>
    <div class="col-md-5">
      <h3>Micropost Feed (All Users)</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% end %>