<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <% if current_user %>
  <div class="col-md-12" style="margin-bottom: 10px;">
    <div class="col-md-6 col-md-offset-3">
      <% if @user.picture? %>
        <label>Change Profile Picture</label><br>
        <%= image_tag(@user.picture.url) %><br><br>
      <% else %>
        <label>Profile Picture</label>
      <% end %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'btn btn-success', id: 'user_picture' %>
    </div>
  </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %><br>

  <% if current_user %>
    <div class="col-xs-6">
      <a href="/users/<%= @user.id %>" class="btn btn-danger" id="cancel-button">Cancel</a>
    </div>
    <div class="col-xs-6">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </div>
  <% else %>
    <div class="col-xs-12">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %><br><br>
    </div>
  <% end %>
<% end %>