<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.picture.url ? @user.picture.url : "default-profile-image" %>
        @<%= @user.username %>
      </h1>
    </section>
    <section class="stats" style="margin-bottom: 10px;">
      <%= render 'shared/stats' %>
    </section>
    <% if current_user && current_user.id == @user.id %>
      <p><%= link_to "Account Settings", edit_user_path(current_user) %></p> 
    <% end %>
    <b>
      <p><%= @user.name %></p>
      <p><%= @user.email %></p>
    </b>
  </aside>
  <div class="col-md-5">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <div id="infinite-feed">
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
      </div>
      <div id="infinite-scrolling">
        <%= will_paginate @microposts %>
      </div>
    <% else  %>  
       <h3>No posts to show </h3>
    <% end %>
  </div>
</div>