<li id="micropost-<%= micropost.id %>">
  <%= image_tag micropost.user.picture.url ? micropost.user.picture.url : "default-profile-image", class: "post-profile-image" %>
  <span class="user"><a href="/users/<%= micropost.user.id %>"><%= micropost.user.name %> <span class="small-text">(@<%= micropost.user.username %>)</span></a></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url, class: "post-picture" if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>