<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>

	  <!-- Favicons -->
	  <%= favicon_link_tag 'favicon.ico' %>
	  <link rel="apple-touch-icon" href="apple-touch-icon.png">
	  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
	  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
	  
	  <!-- Meta Tags -->
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	  <meta name="Acquaintion" content="">
	  <meta author="Eric Gonzalez" content="">
	  <%= csrf_meta_tags %>

	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
	    <div class="container">
	    <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
			<%= yield %>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
